[submodule "themes/hugo-geekdoc-theme"]
	path = themes/hugo-geekdoc-theme
	url = https://github.com/willfaught/paige
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo
